html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.alert-success, .alert-danger {
    margin: 10px auto;
    width: 50%;
    text-align: center;
}

.fight {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px red solid;
    padding: 40px 0;
}

.fight-middle {
    display: flex;
}

.btn-start {
    width: 30%;
}

.fight .vs-image {
    height: 160px;
    margin: auto;
    padding: 20px;
}

.fight .fighter-image {
    height: 180px;
}

.fight-field {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

.fight-field > .fight-top {
    padding-top: 50px;
}

.fight-field > .participants {
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}

.fight-field > .participants > .left-side {
    width: 50%;
    padding-right: 50px;
}

.fight-field > .participants > .right-side {
    width: 50%;
    padding-left: 50px;
}

.fight-field .fighter-image {
    margin: auto;
}

.btn-finish {
    width: 30%;
    margin: 20px;
}

.fight-winner {
    height: 250px;
    text-align: center;
}

.fight-loser {
    height: 250px;
    text-align: center;
}